---
import { songs } from "@/lib/data";
interface Props {
    cover: string;
    title: string;
    artist: string;
    numberSongs: number;
    yearAlbum?: string;
}
const { cover, title, artist, numberSongs, yearAlbum } = Astro.props;
const { id } = Astro.params;

const totalMinutes = songs.filter((song) => song.albumId === Number(id)).reduce((total, song) => total + Number(song.duration.split(":")[0]), 0);

let fontSize = "text-[4rem]"
if (title.length > 20) fontSize = "text-[2.7rem]";
if (title.length > 40) fontSize = "text-[2rem]";

---

<header class="flex items-end gap-6">
    <figure class="w-52 hover:scale-[1.02] cursor-pointer transition-all duration-100 shadow-coverAlbum">
        <img class="w-full h-full rounded-sm" src={cover} alt={title} />
    </figure>
    <div>
        <span class="text-zinc-200 text-[.8rem]">Álbum</span>
        <h1 class={`text-zinc-100 font-extrabold ${fontSize}`}>{title}</h1>
        <div class="flex gap-1 text-zinc-400 items-center">
            <span class="text-zinc-200 text-[.9rem] font-bold hover:underline transition-all cursor-pointer">{artist}</span>
            <span>•</span>
            {yearAlbum && <span class="text-zinc-400 text-[.9rem] font-bold">{yearAlbum}</span>}
            <span>•</span>
            <span class="text-zinc-400 text-[.9rem] font-bold">{numberSongs} canciones</span>
            <span>,</span>
            <span class="text-zinc-400 text-[.9rem] font-bold">{totalMinutes} min</span>
        </div>
    </div>
</header>
